/* #Table of Contents

1.	Site Styles
2.	Header
3.	Elements
4.	Footer
5.	Media Queries
================================================== */



/* ========================= Site Styles ========================= */

html {
	overflow-x:hidden;
	-webkit-font-smoothing:antialiased;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25), only screen and (min-device-pixel-ratio:1.25), only screen and (min-resolution:200dpi), only screen and (min-resolution:1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }

body {
	font-family:Roboto, Arial, sans-serif;
	color:#777;
	font-size:15px;
	line-height:24px;
	font-weight:300;
	background-color:#e9e9e9;
}

#body-wrap {
	position:relative;
	clear:both;
	max-width:1440px;
	margin:0px auto;
}
#main-wrap { background-color:#FFF; }

.bg-grey { background-color:#f6f8f9; }
.bg-dark {
	color:#FFF;
	background-color:#212425;
}
.bg-color {
	color:#FFF;
	background-color:#e34724;
}
.bg-img {
	position:relative;
	color:#FFF;
	background-color:#212425;
}
	.bg-img .bg-overlay {
		position:relative;
		background-color:rgba(0,0,0,.5);
		z-index:11;
	}
	.ie .bg-img .bg-overlay { background:url(../images/ie-bg-overlay50.png) repeat top left; }
	.bg-img .bg-overlay.bg-overlay40 { background-color:rgba(0,0,0,.4); }
	.ie .bg-img .bg-overlay.bg-overlay40 { background-image:url(../images/ie-bg-overlay40.png); }
	.bg-img .bg-overlay.bg-overlay60 { background-color:rgba(0,0,0,.6); }
	.ie .bg-img .bg-overlay.bg-overlay60 { background-image:url(../images/ie-bg-overlay60.png); }
	.bg-img .bg-overlay.bg-overlay70 { background-color:rgba(0,0,0,.7); }
	.ie .bg-img .bg-overlay.bg-overlay70 { background-image:url(../images/ie-bg-overlay70.png); }
	.bg-img .bg-overlay.bg-overlay80 { background-color:rgba(0,0,0,.8); }
	.ie .bg-img .bg-overlay.bg-overlay80 { background-image:url(../images/ie-bg-overlay80.png); }
	.bg-img .bg-img-base {
		visibility:visible;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		background:no-repeat center center;
		background-size:cover;
		z-index:10;
		opacity:0;
		-webkit-transition:visibility .3s, opacity .3s;
		transition:visibility .3s, opacity .3s;
	}
	.bg-img .bg-img-base.in {
		visibility:visible;
		opacity:1;
	}
	
p { margin-bottom:15px; }

h1, h2, h3, h4, h5, h6 {
	font-family:Poppins, Arial, sans-serif;
	color:#444;
	font-weight:400;
	margin-top:0px;
}
h1, h2, h3, h4 { margin-bottom:15px; }
h5, h6 { margin-bottom:10px; }
h1 {
	font-size:42px;
	line-height:52px;
}
h2 {
	font-size:36px;
	line-height:44px;
}
h3 {
	font-size:30px;
	line-height:38px;
}
h4 {
	font-size:24px;
	line-height:32px;
}
h5 {
	font-size:18px;
	line-height:24px;
}
h6 {
	font-size:14px;
	line-height:20px;
}
	h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight:600; }
.bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6, .bg-color h1, .bg-color h2, .bg-color h3, .bg-color h4, .bg-color h5, .bg-color h6, .bg-img h1, .bg-img h2, .bg-img h3, .bg-img h4, .bg-img h5, .bg-img h6 { color:#FFF; }

a, a:visited {
	color:#e34724;
	-webkit-transition:color .2s ease, background-color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
	transition:color .2s ease, background-color .2s ease, background .2s ease, border .2s ease, outline .2s ease, opacity .2s ease-in-out;
}
.bg-dark a, .bg-dark a:visited, .bg-color a, .bg-color a:visited, .bg-img a, .bg-img a:visited { color:#FFF; }
a:hover {
	color:#404040;
	text-decoration:none;
}
.bg-dark a:hover, .bg-img a:hover { color:#DDD; }
.bg-color a:hover { color:#f9e1e0; }
a:focus { text-decoration:none; }

ul li { line-height:inherit; }

figure { margin:0px; }
	figure img { width:100%; }
	figure iframe {
		overflow:hidden;
		width:100% !important;
		background-color:#f4f4f4;
		border:0px;
	}
	
video {
	width:100%;
	height:auto;
}

.padding-top0 { padding-top:0px !important; }
.padding-right0 { padding-right:0px !important; }
.padding-bottom0  { padding-bottom:0px !important; }
.padding-left0 { padding-left:0px !important; }

.padding-top10 { padding-top:10px !important; }
.padding-top20 { padding-top:20px !important; }
.padding-top30 { padding-top:30px !important; }
.padding-top40 { padding-top:40px !important; }
.padding-top50 { padding-top:50px !important; }
.padding-top60 { padding-top:60px !important; }
.padding-top70 { padding-top:70px !important; }
.padding-top80 { padding-top:80px !important; }

.padding-bottom10 { padding-bottom:10px !important; }
.padding-bottom20 { padding-bottom:20px !important; }
.padding-bottom30 { padding-bottom:30px !important; }
.padding-bottom40 { padding-bottom:40px !important; }
.padding-bottom50 { padding-bottom:50px !important; }
.padding-bottom60 { padding-bottom:60px !important; }
.padding-bottom70 { padding-bottom:70px !important; }
.padding-bottom80 { padding-bottom:80px !important; }

.margin-top0 { margin-top:0px !important;	}
.margin-right0 { margin-right:0px !important;	}
.margin-bottom0 { margin-bottom:0px !important; }
.margin-left0 { margin-left:0px !important; }

.margin-top10 { margin-top:10px !important; }
.margin-top20 { margin-top:20px !important; }
.margin-top30 { margin-top:30px !important; }
.margin-top40 { margin-top:40px !important; }
.margin-top50 { margin-top:50px !important; }
.margin-top60 { margin-top:60px !important; }
.margin-top70 { margin-top:70px !important; }
.margin-top80 { margin-top:80px !important; }

.margin-bottom10 { margin-bottom:10px !important; }
.margin-bottom20 { margin-bottom:20px !important; }
.margin-bottom30 { margin-bottom:30px !important; }
.margin-bottom40 { margin-bottom:40px !important; }
.margin-bottom50 { margin-bottom:50px !important; }
.margin-bottom60 { margin-bottom:60px !important; }
.margin-bottom70 { margin-bottom:70px !important; }
.margin-bottom80 { margin-bottom:80px !important; }

.list-icon { margin:20px 0px; }
	.list-icon ul {
		padding:0px;
		margin:0px;
	}
		.list-icon ul li {
			list-style-type:none;
			position:relative;
			font-size:16px;
			padding-left:30px;
			margin-bottom:10px;
		}
		.list-icon ul li:last-child { margin-bottom:0px; }
			.list-icon ul li .fa {
				position:absolute;
				top:3px;
				left:0px;
				color:#e34724;
				font-size:20px;
			}
			.bg-color .list-icon ul li .fa { color:#FFF; }
			
.required { color:#f63737; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], .ie input[type="range"], .ie9 input[type="range"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
	height:50px;
	font-family:Roboto, Arial, sans-serif;
	color:#b0b0b0;
	font-size:16px;
	padding:0px 20px;
	border:1px solid #e4e4e4;
	outline:none !important;
	border-radius:3px;
}
.bg-dark input[type="color"], .bg-dark input[type="date"], .bg-dark input[type="datetime"], .bg-dark input[type="datetime-local"], .bg-dark input[type="email"], .bg-dark input[type="month"], .bg-dark input[type="number"], .bg-dark input[type="password"], .bg-dark .ie input[type="range"], .bg-dark .ie9 input[type="range"], .bg-dark input[type="search"], .bg-dark input[type="tel"], .bg-dark input[type="text"], .bg-dark input[type="time"], .bg-dark input[type="url"], .bg-dark input[type="week"], .bg-dark select, .bg-dark textarea, .bg-color input[type="color"], .bg-color input[type="date"], .bg-color input[type="datetime"], .bg-color input[type="datetime-local"], .bg-color input[type="email"], .bg-color input[type="month"], .bg-color input[type="number"], .bg-color input[type="password"], .bg-color .ie input[type="range"], .bg-color .ie9 input[type="range"], .bg-color input[type="search"], .bg-color input[type="tel"], .bg-color input[type="text"], .bg-color input[type="time"], .bg-color input[type="url"], .bg-color input[type="week"], .bg-color select, .bg-color textarea, .bg-img input[type="color"], .bg-img input[type="date"], .bg-img input[type="datetime"], .bg-img input[type="datetime-local"], .bg-img input[type="email"], .bg-img input[type="month"], .bg-img input[type="number"], .bg-img input[type="password"], .bg-img .ie input[type="range"], .bg-img .ie9 input[type="range"], .bg-img input[type="search"], .bg-img input[type="tel"], .bg-img input[type="text"], .bg-img input[type="time"], .bg-img input[type="url"], .bg-img input[type="week"], .bg-img select, .bg-img textarea { border:0px; }
.ie input[type="color"], .ie input[type="date"], .ie input[type="datetime"], .ie input[type="datetime-local"], .ie input[type="email"], .ie input[type="month"], .ie input[type="number"], .ie input[type="password"], .ie input[type="range"], .ie input[type="search"], .ie input[type="tel"], .ie input[type="text"], .ie input[type="time"], .ie input[type="url"], .ie input[type="week"] { line-height:48px; }
.ie .bg-dark input[type="color"], .ie .bg-dark input[type="date"], .ie .bg-dark input[type="datetime"], .ie .bg-dark input[type="datetime-local"], .ie .bg-dark input[type="email"], .ie .bg-dark input[type="month"], .ie .bg-dark input[type="number"], .ie .bg-dark input[type="password"], .ie .bg-dark input[type="range"], .ie .bg-dark input[type="search"], .ie .bg-dark input[type="tel"], .ie .bg-dark input[type="text"], .ie .bg-dark input[type="time"], .ie .bg-dark input[type="url"], .ie .bg-dark input[type="week"], .ie .bg-color input[type="color"], .ie .bg-color input[type="date"], .ie .bg-color input[type="datetime"], .ie .bg-color input[type="datetime-local"], .ie .bg-color input[type="email"], .ie .bg-color input[type="month"], .ie .bg-color input[type="number"], .ie .bg-color input[type="password"], .ie .bg-color input[type="range"], .ie .bg-color input[type="search"], .ie .bg-color input[type="tel"], .ie .bg-color input[type="text"], .ie .bg-color input[type="time"], .ie .bg-color input[type="url"], .ie .bg-color input[type="week"], .ie .bg-img input[type="color"], .ie .bg-img input[type="date"], .ie .bg-img input[type="datetime"], .ie .bg-img input[type="datetime-local"], .ie .bg-img input[type="email"], .ie .bg-img input[type="month"], .ie .bg-img input[type="number"], .ie .bg-img input[type="password"], .ie .bg-img input[type="range"], .ie .bg-img input[type="search"], .ie .bg-img input[type="tel"], .ie .bg-img input[type="text"], .ie .bg-img input[type="time"], .ie .bg-img input[type="url"], .ie .bg-img input[type="week"] { line-height:50px; }
input[type="color"]::-webkit-color-swatch-wrapper { padding:0px; }
input[type="color"]::-webkit-color-swatch { border:0px; }
@-moz-document url-prefix() {
	input[type="color"] {
		height:34px;
		padding:2px;
		border-color:#707070;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type="color"] {
		height:34px;
		padding:2px;
		border-color:#707070;
	}
	::i-block-chrome, input[type="color"] {
		height:50px;
		padding:0px 20px;
		border-color:#e0e0e0;
	}
}
input[type="date"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="week"]::-webkit-inner-spin-button { display:none; }
input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-calendar-picker-indicator, input[type="week"]::-webkit-calendar-picker-indicator {
	background:#f0f0f0;
	margin-left:5px;
}
input[type="file"] { line-height:1; }
input[type="image"] { background:none; }
input[type="number"]::-webkit-inner-spin-button {
	display:block;
	position:relative;
	width:8px;
	color:#333;
	text-align:center;
	cursor:pointer;
	margin-left:10px;
	-webkit-appearance:none;
}
input[type="number"]::-webkit-inner-spin-button:before, input[type="number"]::-webkit-inner-spin-button:after {
	position:absolute;
	right:0px;
	font-family:monospace;
	content:'^';
}
input[type="number"]::-webkit-inner-spin-button:before { top:0px; }
input[type="number"]::-webkit-inner-spin-button:after {
	bottom:0px;
	-webkit-transform:rotate(180deg);
}
input[type="time"]::-webkit-inner-spin-button { margin:11px 0px 0px 5px; }
select, textarea {
	height:auto;
	padding:12.5px 16px;
}
::i-block-chrome, select {
	padding:11.5px 20px;
	-webkit-appearance:none;
}
textarea {
	padding-left:20px;
	padding-right:20px;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, .ie input[type="range"]:focus, .ie9 input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
	color:#404040;
	border-color:#e34724;
}
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, .ie input[type="range"]:disabled, .ie9 input[type="range"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, select:disabled, textarea:disabled {
	color:#a9a9a9;
	background-color:#e9e9e9;
	border-color:#e9e9e9;
}

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button {
	font-family:Roboto, Arial, sans-serif;
	color:#FFF !important;
	font-size:16px;
	line-height:50px;
	text-align:left;
	font-weight:400;
	white-space:nowrap;
	background-color:#e34724;
	padding:14.5px 25px;
	border:0px;
	outline:none !important;
	border-radius:3px;
	-webkit-transition:color .2s ease, background-color .2s ease, background .2s ease;
	transition:color .2s ease, background-color .2s ease, background .2s ease;
}
.bg-color .btn-custom, .bg-color input[type="button"], .bg-color input[type="submit"], .bg-color input[type="reset"], .bg-color button {
	color:#404040 !important;
	background-color:#FFF;
}
input[type="button"], input[type="submit"], input[type="reset"], button {
	line-height:1;
	padding-top:17px;
	padding-bottom:17px;
}
.btn-custom.btn-blue, input[type="button"].btn-blue, input[type="submit"].btn-blue, input[type="reset"].btn-blue, button.btn-blue { background-color:#3ebcfa; }
.btn-custom.btn-blue:hover, input[type="button"].btn-blue:hover, input[type="submit"].btn-blue:hover, input[type="reset"].btn-blue:hover, button.btn-blue:hover { background-color:#2daae8; }
.btn-custom.btn-green, input[type="button"].btn-green, input[type="submit"].btn-green, input[type="reset"].btn-green, button.btn-green { background-color:#44d86e; }
.btn-custom.btn-green:hover, input[type="button"].btn-green:hover, input[type="submit"].btn-green:hover, input[type="reset"].btn-green:hover, button.btn-green:hover { background-color:#32c15b; }
.btn-custom.btn-red, input[type="button"].btn-red, input[type="submit"].btn-red, input[type="reset"].btn-red, button.btn-red { background-color:#e34724; }
.bg-color .btn-custom.btn-red, .bg-color input[type="button"].btn-red, .bg-color input[type="submit"].btn-red, .bg-color input[type="reset"].btn-red, .bg-color button.btn-red { background-color:#FFF; }
.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn-custom.btn-red:hover, input[type="button"].btn-red:hover, input[type="submit"].btn-red:hover, input[type="reset"].btn-red:hover, button.btn-red:hover { background-color:#f56357; }
.bg-color .btn-custom:hover, .bg-color input[type="button"]:hover, .bg-color input[type="submit"]:hover, .bg-color input[type="reset"]:hover, .bg-color button:hover, .bg-color .btn-custom.btn-red:hover, .bg-color input[type="button"].btn-red:hover, .bg-color input[type="submit"].btn-red:hover, .bg-color input[type="reset"].btn-red:hover, .bg-color button.btn-red:hover { background-color:#f9e1e0; }
.btn-custom.btn-pink, input[type="button"].btn-pink, input[type="submit"].btn-pink, input[type="reset"].btn-pink, button.btn-pink { background-color:#fb53c2; }
.btn-custom.btn-pink:hover, input[type="button"].btn-pink:hover, input[type="submit"].btn-pink:hover, input[type="reset"].btn-pink:hover, button.btn-pink:hover { background-color:#e741af; }
.btn-custom.btn-purple, input[type="button"].btn-purple, input[type="submit"].btn-purple, input[type="reset"].btn-purple, button.btn-purple { background-color:#c95ef5; }
.btn-custom.btn-purple:hover, input[type="button"].btn-purple:hover, input[type="submit"].btn-purple:hover, input[type="reset"].btn-purple:hover, button.btn-purple:hover { background-color:#b54be1; }
.btn-custom.btn-yellow, input[type="button"].btn-yellow, input[type="submit"].btn-yellow, input[type="reset"].btn-yellow, button.btn-yellow { background-color:#f7b943; }
.btn-custom.btn-yellow:hover, input[type="button"].btn-yellow:hover, input[type="submit"].btn-yellow:hover, input[type="reset"].btn-yellow:hover, button.btn-yellow:hover { background-color:#e6a933; }
.btn-custom.disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, button:disabled, .btn-custom.disabled:hover, input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, input[type="reset"]:disabled:hover, button:disabled:hover {
	color:#a9a9a9 !important;
	background-color:#e9e9e9;
}
	.btn-custom.btn-icon-before .fa { margin-right:10px; }
	.btn-custom.btn-icon-after .fa { margin-left:10px; }
	
.btn-custom.btn-small, input[type="button"].btn-small, input[type="submit"].btn-small, input[type="reset"].btn-small, button.btn-small {
	font-size:14px;
	line-height:42px;
	padding:11.5px 18px;
}
input[type="button"].btn-small, input[type="submit"].btn-small, input[type="reset"].btn-small, button.btn-small {
	line-height:1;
	padding-top:14px;
	padding-bottom:14px;
}
.btn-custom.btn-medium, input[type="button"].btn-medium, input[type="submit"].btn-medium, input[type="reset"].btn-medium, button.btn-medium {
	font-size:18px;
	line-height:56px;
	padding:16px 32px;
}
input[type="button"].btn-medium, input[type="submit"].btn-medium, input[type="reset"].btn-medium, button.btn-medium {
	line-height:1;
	padding-top:19px;
	padding-bottom:19px;
}
.btn-custom.btn-large, input[type="button"].btn-large, input[type="submit"].btn-large, input[type="reset"].btn-large, button.btn-large {
	font-size:20px;
	line-height:62px;
	padding:18px 40px;
}
input[type="button"].btn-large, input[type="submit"].btn-large, input[type="reset"].btn-large, button.btn-large {
	line-height:1;
	padding-top:21px;
	padding-bottom:21px;
}

button.close {
	font-family:Arial, Helvetica, sans-serif;
	color:#404040 !important;
	font-size:20px;
	margin:0px;
	border-radius:0px;
}
button.close:hover {
	color:#111;
	background:none;
	border:0px;
}

img.parallax-slider {
	visibility:hidden;
	opacity:0;
	-webkit-transition:visibility .3s, opacity .3s;
	transition:visibility .3s, opacity .3s;
}
img.parallax-slider.loaded, .ie img.parallax-slider, .ie9 img.parallax-slider {
	visibility:visible;
	opacity:1;
}

.aligncenter {
	display:block;
	margin:0px auto 20px auto;
}
.alignright {
	float:right;
	margin:10px 0 10px 10px;
}
.alignleft {
	float:left;
	margin:10px 10px 10px 0;
}

.carousel-slider.slick-slider { margin-bottom:0px; }
	.carousel-slider .slick-prev, .carousel-slider .slick-next {
		width:40px;
		height:40px;
		text-align:center;
		background-color:#d0d0d0;
		margin-top:-20px;
		z-index:100;
		border-radius:50%;
		box-shadow:none;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none;
		-webkit-transition:color .2s ease, background-color .2s ease, background .2s ease;
		transition:color .2s ease, background-color .2s ease, background .2s ease;
	}
	.bg-dark .carousel-slider .slick-prev, .bg-dark .carousel-slider .slick-next, .bg-color .carousel-slider .slick-prev, .bg-color .carousel-slider .slick-next, .bg-img .carousel-slider .slick-prev, .bg-img .carousel-slider .slick-next { background-color:#FFF; }
	.carousel-slider .slick-prev.slick-disabled, .carousel-slider .slick-next.slick-disabled { cursor:default; }
	.carousel-slider .slick-prev:hover, .carousel-slider .slick-next:hover { background-color:#e34724; }
	.bg-color .carousel-slider .slick-prev:hover, .bg-color .carousel-slider .slick-next:hover { background-color:#202020; }
	.carousel-slider .slick-prev.slick-disabled:hover, .carousel-slider .slick-next.slick-disabled:hover { background-color:#d0d0d0; }
	.bg-dark .carousel-slider .slick-prev.slick-disabled:hover, .bg-dark .carousel-slider .slick-next.slick-disabled:hover, .bg-color .carousel-slider .slick-prev.slick-disabled:hover, .bg-color .carousel-slider .slick-next.slick-disabled:hover, .bg-img .carousel-slider .slick-prev.slick-disabled:hover, .bg-img .carousel-slider .slick-next.slick-disabled:hover { background-color:#FFF; }
	.carousel-slider .slick-prev { left:20px; }
	.carousel-slider .slick-next { right:20px; }
	.carousel-slider .slick-prev:before, .carousel-slider .slick-next:before {
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		font:normal normal normal 24px/38px FontAwesome;
		color:#FFF;
		text-align:center;
		text-rendering:auto;
		background-color:transparent;
		content:'\f104';
		opacity:1;
		-webkit-transition:color .2s ease;
		transition:color .2s ease;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
	}
	.bg-dark .carousel-slider .slick-prev:before, .bg-dark .carousel-slider .slick-next:before, .bg-color .carousel-slider .slick-prev:before, .bg-color .carousel-slider .slick-next:before, .bg-img .carousel-slider .slick-prev:before, .bg-img .carousel-slider .slick-next:before { color:#202020; }
	.bg-dark .carousel-slider .slick-prev:hover:before, .bg-dark .carousel-slider .slick-next:hover:before, .bg-color .carousel-slider .slick-prev:hover:before, .bg-color .carousel-slider .slick-next:hover:before, .bg-img .carousel-slider .slick-prev:hover:before, .bg-img .carousel-slider .slick-next:hover:before { color:#FFF; }
	.bg-dark .carousel-slider .slick-prev.slick-disabled:hover:before, .bg-dark .carousel-slider .slick-next.slick-disabled:hover:before, .bg-color .carousel-slider .slick-prev.slick-disabled:hover:before, .bg-color .carousel-slider .slick-next.slick-disabled:hover:before, .bg-img .carousel-slider .slick-prev.slick-disabled:hover:before, .bg-img .carousel-slider .slick-next.slick-disabled:hover:before { color:#202020; }
	.carousel-slider .slick-next:before { content:'\f105'; }
	.carousel-slider .slick-dots {
		right:0px;
		bottom:20px;
		left:0px;
		line-height:1;
		margin-bottom:0px;
	}
		.carousel-slider .slick-dots li {
			width:auto;
			height:auto;
			margin:0px;
		}
			.carousel-slider .slick-dots li button {
				display:inline-block;
				width:14px;
				height:14px;
				background:#d0d0d0;
				padding:0px;
				margin:0px 10px;
				border-radius:50%;
				box-shadow:none;
			}
			.bg-dark .carousel-slider .slick-dots li button, .bg-color .carousel-slider .slick-dots li button, .bg-img .carousel-slider .slick-dots li button { background:#FFF; }
			.carousel-slider .slick-dots li button:before { display:none; }
			.carousel-slider .slick-dots li button:hover, .carousel-slider .slick-dots li.slick-active button { background:#e34724; }
			.bg-color .carousel-slider .slick-dots li button:hover, .bg-color .carousel-slider .slick-dots li.slick-active button { background:#202020; }
	.carousel-slider .slick-slide, .carousel-slider .slick-slide a { outline:none; }
	.carousel-slider img { width:100%; }
	
.alert h4 { margin-bottom:10px; }

.tooltip {
	font-family:Roboto, Arial, sans-serif;
	font-size:13px;
	line-height:18px;
	font-weight:300;
	text-transform:lowercase;
}
.tooltip-inner { padding:5px 10px; }

.wrap-container20 {
	padding-top:20px;
	padding-bottom:20px;
}
.wrap-container40 {
	padding-top:40px;
	padding-bottom:40px;
}
.wrap-container60 {
	padding-top:60px;
	padding-bottom:60px;
}
.wrap-container80 {
	padding-top:80px;
	padding-bottom:80px;
}
.wrap-container100 {
	padding-top:100px;
	padding-bottom:100px;
}
.wrap-container120 {
	padding-top:120px;
	padding-bottom:120px;
}
.wrap-container4020 {
	padding-top:40px;
	padding-bottom:20px;
}
.wrap-container6020 {
	padding-top:60px;
	padding-bottom:20px;
}
.wrap-container6040 {
	padding-top:60px;
	padding-bottom:40px;
}
.wrap-container8040 {
	padding-top:80px;
	padding-bottom:40px;
}
.wrap-container8060 {
	padding-top:80px;
	padding-bottom:60px;
}
.wrap-container10060 {
	padding-top:100px;
	padding-bottom:60px;
}
.wrap-container10080 {
	padding-top:100px;
	padding-bottom:80px;
}
.wrap-container12080 {
	padding-top:120px;
	padding-bottom:80px;
}
.wrap-container120100 {
	padding-top:120px;
	padding-bottom:100px;
}

.col-txt40 { padding-top:40px; }
.col-txt60 { padding-top:60px; }
.col-txt80 { padding-top:80px; }
.col-txt100 { padding-top:100px; }
.col-txt120 { padding-top:120px; }

.border-top { border-top:1px solid #e4e4e4; }
.border-bottom { border-bottom:1px solid #e4e4e4; }

.no-border-top { border-top:0px; }
.no-border-bottom { border-bottom:0px; }

.txt-desc {
	font-size:14px;
	line-height:22px;
	margin:10px 0px 0px;
}
	.txt-desc a { font-weight:400; }
	
.post-heading-center {
	text-align:center;
	margin-bottom:40px;
}
	.post-heading-center h2 {
		color:#202020;
		font-weight:600;
		margin:0px;
	}
	.bg-dark .post-heading-center h2, .bg-color .post-heading-center h2, .bg-img .post-heading-center h2 { color:#FFF; }
	.post-heading-center p {
		font-family:Poppins, Arial, sans-serif;
		color:#a0a0a0;
		font-size:20px;
		line-height:28px;
		margin:15px 0px 0px;
	}
	.bg-dark .post-heading-center p, .bg-color .post-heading-center p, .bg-img .post-heading-center p { color:#FFF; }
	
.post-heading-left { margin-bottom:25px; }
	.post-heading-left h2 {
		font-size:30px;
		line-height:38px;
		margin:0px;
	}
		.post-heading-left h2 strong { color:#e34724; }
		.bg-color .post-heading-left h2 strong { color:#FFF; }
	.post-heading-left p {
		font-family:Poppins, Arial, sans-serif;
		color:#a9a9a9;
		font-size:18px;
		margin:7px 0px 0px;
	}
	.bg-dark .post-heading-left p, .bg-color .post-heading-left p, .bg-img .post-heading-left p { color:#FFF; }
	.post-heading-left.post-heading-top-desc p { margin:0px 0px 7px; }



/* ========================= Header ========================= */

#header .header-overlay { background-color:rgba(0,0,0,.4); }
.ie #header .header-overlay { background:url(../images/ie-bg-overlay40.png) repeat top left; }

/* Navigation Menu */
#header .navbar {
	min-height:0px;
	color:#FFF;
	padding:40px 0px;
	margin:0px;
	border:0px;
	border-radius:0px;
}
#header.header-page .navbar { background-color:#212425; }
	#header .navbar-brand, #navigation_affix .navbar-brand {
		height:auto;
		color:#FFF;
		padding:0px;
	}
	#header .navbar > .container .navbar-brand, #header .navbar > .container-fluid .navbar-brand, #navigation_affix .navbar > .container .navbar-brand, #navigation_affix .navbar > .container-fluid .navbar-brand { margin:0px; }
		#header .navbar-brand img, #navigation_affix .navbar-brand img { height:40px; }
#header .nav, #navigation_affix .nav {
	overflow:hidden;
	float:right;
	height:40px;
}
	#header .nav > li { padding:11px 25px; }
	#header .nav > li.menu-btn {
		padding-top:5px;
		padding-bottom:5px;
	}
	#header .nav > li:last-child, #navigation_affix .nav > li:last-child { padding-right:0px; }
		#header .nav > li > a, #navigation_affix .nav > li > a {
			float:left;
			font-family:Poppins, Arial, sans-serif;
			color:#DDD;
			font-size:14px;
			line-height:18px;
			font-weight:600;
			text-transform:uppercase;
			background:none !important;
			padding:0px;
		}
		#header .nav > li.menu-btn > a, #navigation_affix .nav > li.menu-btn > a {
			color:#FFF !important;
			background:#e34724 !important;
			padding:6.5px 12px 5.5px;
			border-radius:15px;
		}
		#header .nav > li > a:hover, #header .nav > li.active > a { color:#FFF; }
		#header .nav > li.menu-btn > a:hover, #navigation_affix .nav > li.menu-btn > a:hover, #header .nav > li.menu-btn.active > a, #navigation_affix .nav > li.menu-btn.active > a { background:#f56357 !important; }
#header .navbar-nav, #navigation_affix .navbar-nav {
	margin-top:0px;
	margin-bottom:0px;
}

/* Navigation Affix */
#navigation_affix {
	overflow:hidden;
	position:fixed;
	top:-60px;
	right:0px;
	left:0px;
	height:60px;
	background-color:rgba(255,255,255,.95);
	z-index:1000;
	box-shadow:0px 1px 6px 0px rgba(0,0,0,.12);
	-webkit-transition:top .3s ease;
	transition:top .3s ease;
}
.ie #navigation_affix {
	background:url(../images/ie-bg-navigation_affix.png) repeat top left;
	border-bottom:1px solid #e4e4e4;
}
#navigation_affix.show { top:0px; }
	#navigation_affix .navbar-brand, #navigation_affix .nav > li > a { color:#444; }
	#navigation_affix .navbar-brand { padding:10px 0px; }
	#navigation_affix .nav { height:60px; }
		#navigation_affix .nav > li { padding:0px 15px; }
		#navigation_affix .nav > li.menu-btn {
			padding-top:15px;
			padding-bottom:15px;
		}
			#navigation_affix .nav > li > a {
				padding:19px 0px 21px;
				border-top:2px solid transparent;
				border-bottom:0px;
			}
			#navigation_affix .nav > li.menu-btn > a { border-top:0px; }
			#navigation_affix .nav > li > a:hover { color:#e34724; }
			#navigation_affix .nav > li.active > a {
				color:#e34724;
				border-top-color:#e34724;
			}
			
/* Navigation Mobile */
#navigation_mobile {
	display:none;
	font-family:Poppins, Arial, sans-serif;
	font-size:14px;
	line-height:18px;
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}
	#navigation_mobile .nav-menu-links {
		display:none;
		background-color:#e34724;
	}
	#navigation_mobile ul {
		padding:30px 100px;
		margin:0px;
	}
		#navigation_mobile ul li {
			list-style-type:none;
			padding:11px 0px;
		}
			#navigation_mobile ul li a {
				display:block;
				color:#f9e1e0;
			}
			#navigation_mobile ul li a:hover { color:#FFF; }
	#navigation_mobile .nav-menu-button {
		background-color:#f56357;
		padding:14.5px 0px 13.5px;
	}
		#navigation_mobile .nav-menu-button button.nav-menu-toggle {
			color:#f9e1e0 !important;
			font-size:24px;
			line-height:1;
			background:none;
			padding:0px;
			border:0px;
			border-radius:0px;
			-webkit-transition:color .2s ease;
			transition:color .2s ease;
		}
		#navigation_mobile .nav-menu-button button.nav-menu-toggle:hover { color:#FFF !important; }
		
/* Header Content */
#header .header-content {
	color:#FFF;
	padding:60px 0px 100px;
}
	#header .header-content h1, #header .header-content h2, #header .header-content h3, #header .header-content h4, #header .header-content h5, #header .header-content h6, #header .header-content a { color:#FFF; }
	#header .header-content .header-heading-title {
		text-align:center;
		margin-bottom:60px;
	}
		#header .header-content .header-heading-title h1 {
			font-size:36px;
			line-height:46px;
			font-weight:600;
			margin:0px;
		}
		#header .header-content .header-heading-title h4 {
			font-size:24px;
			line-height:32px;
			font-weight:300;
			margin:20px 0px 0px;
		}
		
#header .header-content .header-form {
	overflow:hidden;
	color:#777;
	background-color:#FFF;
	border-radius:8px;
}
	#header .header-content .header-form h1, #header .header-content .header-form h2, #header .header-content .header-form h3, #header .header-content .header-form h4, #header .header-content .header-form h5, #header .header-content .header-form h6 { color:#444; }
	#header .header-content .header-form .header-form-heading {
		color:#FFF;
		line-height:22px;
		background-color:#e34724;
		padding:25px 30px;
	}
		#header .header-content .header-form .header-form-heading h4 {
			overflow:hidden;
			color:#FFF;
			font-size:20px;
			line-height:26px;
			font-weight:500;
			text-transform:uppercase;
			letter-spacing:.5px;
			margin:0px;
		}
			#header .header-content .header-form .header-form-heading h4 .fa {
				float:left;
				font-size:22px;
				line-height:1;
				margin-right:10px;
			}
		#header .header-content .header-form .header-form-heading p { margin:10px 0px 0px; }
#header .header-content .header-form .header-form-body {
	overflow:hidden;
	position:relative;
	padding:30px;
}
	#header .header-content .header-form .header-form-body .submit-status {
		display:none;
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		font-size:14px;
		line-height:20px;
		text-align:center;
		font-weight:400;
		background-color:rgba(255,255,255,.5);
		z-index:400;
	}
	.ie #header .header-content .header-form .header-form-body .submit-status { background:url(../images/ie-bg-submit-status.png) repeat top left; }
		#header .header-content .header-form .header-form-body .submit-status span {
			position:absolute;
			top:50%;
			right:15px;
			left:15px;
			text-align:center;
			background-color:#FFF;
			padding:14px 15px;
			margin-top:-50px;
			border:1px solid #FFF;
			border-radius:3px;
		}
		#header .header-content .header-form .header-form-body .submit-status span.error {
			color:#d86c6c;
			background-color:#f6caca;
			border-color:#e9b8b8;
		}
		#header .header-content .header-form .header-form-body .submit-status span.success {
			color:#529552;
			background-color:#b9edb9;
			border-color:#a5dda5;
		}
			#header .header-content .header-form .header-form-body .submit-status span .fa {
				display:block;
				font-size:24px;
				margin-bottom:6px;
			}
	#header .header-content .header-form .header-form-body input[type="text"], #header .header-content .header-form .header-form-body input[type="email"] {
		width:100%;
		margin-bottom:15px;
	}
	#header .header-content .header-form .header-form-body textarea {
		display:block;
		width:100%;
		height:90px;
		margin-bottom:15px;
	}
	#header .header-content .header-form .header-form-body input[type="text"].error, #header .header-content .header-form .header-form-body input[type="email"].error, #header .header-content .header-form .header-form-body textarea.error { border-color:#d43d3d; }
	#header .header-content .header-form .header-form-body input[type="submit"] {
		width:100%;
		text-align:center;
	}
	#header .header-content .header-form .header-form-body .txt-desc {
		font-family:Poppins, Arial, sans-serif;
		color:#a9a9a9;
		font-size:12px;
		line-height:18px;
		text-align:center;
		margin-top:20px;
	}
		#header .header-content .header-form .header-form-body .txt-desc a { color:#777; }
		#header .header-content .header-form .header-form-body .txt-desc a:hover { color:#e34724; }
		
#header .header-content .header-txt-list {
	padding:20px 0px 0px;
	margin:0px;
}
	#header .header-content .header-txt-list li {
		list-style-type:none;
		position:relative;
		min-height:60px;
		padding:0px 0px 40px 60px;
	}
	#header .header-content .header-txt-list li:last-child { padding-bottom:0px; }
		#header .header-content .header-txt-list li .fa {
			position:absolute;
			top:0px;
			left:0px;
			font-size:36px;
			line-height:60px;
		}
		#header .header-content .header-txt-list li h4 { margin:0px; }
		#header .header-content .header-txt-list li p { margin:4px 0px 0px; }
		
#sub-header {
	color:#FFF;
	text-align:center;
	background-color:#e34724;
	padding:40px 0px;
}
	#sub-header h1, #sub-header h2, #sub-header h3, #sub-header h4, #sub-header h5, #sub-header h6 {
		color:#FFF;
		margin:0px;
	}
	#sub-header .entry-title {
		font-size:38px;
		line-height:46px;
		font-weight:600;
	}
	#sub-header p {
		font-size:18px;
		line-height:26px;
		font-weight:400;
		margin:10px 0px 5px;
	}



/* ========================= Elements ========================= */

.affa-feature-icon {
	text-align:center;
	margin-bottom:40px;
}
	.affa-feature-icon .fa {
		color:#e34724;
		font-size:48px;
	}
	.bg-color .affa-feature-icon .fa { color:#FFF; }
	.affa-feature-icon h4 {
		font-size:22px;
		line-height:30px;
		font-weight:500;
		margin:20px 0px 0px;
	}
	.affa-feature-icon p { margin:10px 0px 0px; }
	
.affa-feature-icon-left, .affa-feature-icon-right {
	position:relative;
	min-height:36px;
	padding-left:60px;
	margin-bottom:20px;
}
.affa-feature-icon-right {
	text-align:right;
	padding:0px 60px 0px 0px;
}
	.affa-feature-icon-left .fa, .affa-feature-icon-right .fa {
		position:absolute;
		top:0px;
		left:0px;
		width:42px;
		color:#e34724;
		font-size:36px;
		text-align:center;
	}
	.affa-feature-icon-right .fa {
		right:0px;
		left:auto;
	}
	.bg-color .affa-feature-icon-left .fa, .bg-color .affa-feature-icon-right .fa { color:#FFF; }
	.affa-feature-icon-left h4, .affa-feature-icon-right h4 {
		font-size:20px;
		line-height:28px;
		font-weight:500;
		margin:0px;
	}
	.affa-feature-icon-left p, .affa-feature-icon-right p { margin:5px 0px 0px; }
	
.affa-feature-img {
	text-align:center;
	margin-bottom:40px;
}
	.affa-feature-img img {
		width:100%;
		margin-bottom:20px;
	}
	.affa-feature-img h4 {
		font-size:20px;
		line-height:28px;
		font-weight:500;
		margin:0px;
	}
	.affa-feature-img p { margin:10px 0px 0px; }
	
.affa-col-txt { margin-bottom:20px; }
	.affa-col-txt h4 {
		font-size:18px;
		line-height:24px;
		font-weight:500;
		margin:0px;
	}
	.affa-col-txt p { margin:5px 0px 0px; }
	
.affa-counter-txt {
	text-align:center;
	margin-bottom:40px;
}
	.affa-counter-txt .fa {
		color:#c0c0c0;
		font-size:64px;
		line-height:1;
		margin-bottom:30px;
	}
	.bg-dark .affa-counter-txt .fa, .bg-color .affa-counter-txt .fa, .bg-img .affa-counter-txt .fa { color:#FFF; }
	.affa-counter-txt h4 {
		font-family:Roboto, Arial, sans-serif;;
		color:#d0d0d0;
		font-size:54px;
		line-height:1;
		font-weight:700;
		white-space:nowrap;
		margin:0px;
	}
	.bg-dark .affa-counter-txt h4, .bg-color .affa-counter-txt h4, .bg-img .affa-counter-txt h4 { color:#FFF; }
	.affa-counter-txt p {
		font-family:Poppins, Arial, sans-serif;
		color:#444;
		font-size:22px;
		line-height:1;
		white-space:nowrap;
		margin:20px 0px 0px;
	}
	.bg-dark .affa-counter-txt p, .bg-color .affa-counter-txt p, .bg-img .affa-counter-txt p { color:#FFF; }
	
.affa-testimonial-icon {
	display:block;
	color:#DDD;
	font-size:54px;
	text-align:center;
	margin-bottom:15px;
}
.bg-dark .affa-testimonial-icon, .bg-color .affa-testimonial-icon, .bg-img .affa-testimonial-icon { color:#FFF; }
.affa-testimonial {
	text-align:center;
	padding:0px 200px;
	margin-bottom:40px;
}
	.affa-testimonial .testimonial-txt {
		color:#a9a9a9;
		font-size:20px;
		line-height:32px;
		font-style:italic;
		font-weight:400;
	}
	.bg-dark .affa-testimonial .testimonial-txt, .bg-color .affa-testimonial .testimonial-txt, .bg-img .affa-testimonial .testimonial-txt { color:#FFF; }
		.affa-testimonial .testimonial-txt p { margin:0px; }
	.affa-testimonial .testimonial-name { margin-top:40px; }
		.affa-testimonial .testimonial-name img {
			width:100px;
			height:100px;
			margin:0px auto 20px;
			border-radius:50%;
		}
		.affa-testimonial .testimonial-name h4 {
			font-size:20px;
			line-height:28px;
			font-weight:600;
			margin:0px;
		}
		.affa-testimonial .testimonial-name p {
			color:#a9a9a9;
			font-size:16px;
			line-height:22px;
			margin:2px 0px 0px;
		}
		.bg-dark .affa-testimonial .testimonial-name p, .bg-color .affa-testimonial .testimonial-name p, .bg-img .affa-testimonial .testimonial-name p { color:#FFF; }
.carousel-slider.affa-testimonials-carousel { padding-bottom:20px; }
	.carousel-slider.affa-testimonials-carousel .slick-dots { bottom:0px; }
	
.affa-tbl-prc.tbl-prc-recommended { padding-top:28px; }
.bg-dark .affa-tbl-prc, .bg-color .affa-tbl-prc, .bg-img .affa-tbl-prc { color:#777; }
	.bg-dark .affa-tbl-prc h1, .bg-dark .affa-tbl-prc h2, .bg-dark .affa-tbl-prc h3, .bg-dark .affa-tbl-prc h4, .bg-dark .affa-tbl-prc h5, .bg-dark .affa-tbl-prc h6, .bg-color .affa-tbl-prc h1, .bg-color .affa-tbl-prc h2, .bg-color .affa-tbl-prc h3, .bg-color .affa-tbl-prc h4, .bg-color .affa-tbl-prc h5, .bg-color .affa-tbl-prc h6, .bg-img .affa-tbl-prc h1, .bg-img .affa-tbl-prc h2, .bg-img .affa-tbl-prc h3, .bg-img .affa-tbl-prc h4, .bg-img .affa-tbl-prc h5, .bg-img .affa-tbl-prc h6 { color:#444; }
	.bg-color .affa-tbl-prc .btn-custom, .bg-color .affa-tbl-prc .btn-custom.btn-red {
		color:#FFF !important;
		background-color:#e34724;
	}
	.bg-color .affa-tbl-prc .btn-custom:hover, .bg-color .affa-tbl-prc .btn-custom.btn-red:hover { background-color:#f56357; }
	.affa-tbl-prc .tbl-prc-col {
		text-align:center;
		margin-bottom:40px;
		border:1px solid #e9e9e9;
		border-radius:4px;
	}
	.bg-dark .affa-tbl-prc .tbl-prc-col, .bg-color .affa-tbl-prc .tbl-prc-col, .bg-img .affa-tbl-prc .tbl-prc-col {
		background-color:#FFF;
		border:0px;
	}
	.affa-tbl-prc.tbl-prc-recommended .tbl-prc-col.tbl-prc-col-recommended { margin-top:-28px; }
		.affa-tbl-prc .tbl-prc-col .tbl-prc-badge {
			font-family:Poppins, Arial, sans-serif;
			color:#FFF;
			font-size:12px;
			line-height:1;
			font-weight:600;
			text-transform:uppercase;
			letter-spacing:.5px;
			white-space:nowrap;
			background-color:#e34724;
			padding:15px 15px 12px;
			margin:-1px -1px 0px;
			border-radius:4px 4px 0px 0px;
		}
		.bg-dark .affa-tbl-prc .tbl-prc-col .tbl-prc-badge, .bg-color .affa-tbl-prc .tbl-prc-col .tbl-prc-badge, .bg-img .affa-tbl-prc .tbl-prc-col .tbl-prc-badge {
			padding-top:14px;
			margin:0px;
		}
		.bg-color .affa-tbl-prc .tbl-prc-col .tbl-prc-badge { background-color:#202020; }
		.affa-tbl-prc .tbl-prc-col .tbl-prc-heading { padding-top:30px; }
		.affa-tbl-prc .tbl-prc-col.tbl-prc-col-recommended .tbl-prc-heading { padding-top:20px; }
			.affa-tbl-prc .tbl-prc-col .tbl-prc-heading h4 {
				font-size:22px;
				line-height:28px;
				font-weight:600;
				text-transform:uppercase;
				white-space:nowrap;
				padding:0px 15px;
				margin-bottom:20px;
			}
			.affa-tbl-prc .tbl-prc-col .tbl-prc-heading .tbl-prc-price {
				width:140px;
				height:140px;
				font-family:Poppins, Arial, sans-serif;
				color:#FFF;
				font-size:16px;
				line-height:22px;
				text-transform:lowercase;
				background-color:#e34724;
				padding-top:27px;
				margin:0px auto 25px;
				border-radius:50%;
			}
				.affa-tbl-prc .tbl-prc-col .tbl-prc-heading .tbl-prc-price h5 {
					font-family:Roboto, Arial, sans-serif;
					color:#FFF;
					font-size:48px;
					line-height:1;
					font-weight:700;
					white-space:nowrap;
					margin:0px;
				}
					.affa-tbl-prc .tbl-prc-col .tbl-prc-heading .tbl-prc-price h5 span { font-weight:400; }
				.affa-tbl-prc .tbl-prc-col .tbl-prc-heading .tbl-prc-price p { margin:5px 0px 0px; }
		.affa-tbl-prc .tbl-prc-col .tbl-prc-list {
			padding:0px 15px 15px;
			margin:0px;
		}
			.affa-tbl-prc .tbl-prc-col .tbl-prc-list li {
				list-style-type:none;
				margin-bottom:15px;
			}
		.affa-tbl-prc .tbl-prc-col .tbl-prc-footer {
			background-color:#f4f4f4;
			padding:30px 15px;
			border-top:1px solid #e9e9e9;
			border-radius:0px 0px 4px 4px;
		}
		.bg-dark .affa-tbl-prc .tbl-prc-col .tbl-prc-footer, .bg-color .affa-tbl-prc .tbl-prc-col .tbl-prc-footer, .bg-img .affa-tbl-prc .tbl-prc-col .tbl-prc-footer { border-top:0px; }
		.affa-tbl-prc .tbl-prc-col.tbl-prc-col-recommended .tbl-prc-footer {
			padding-top:40px;
			padding-bottom:40px;
		}
		
.affa-faq { margin-bottom:40px; }
	.affa-faq h4 {
		font-size:22px;
		line-height:30px;
		font-weight:500;
		margin:0px;
	}
	.affa-faq p { margin:15px 0px 0px; }
.affa-faq-link {
	font-size:20px;
	line-height:28px;
	text-align:center;
	font-weight:600;
	margin:0px;
}
	.affa-faq-link a { text-decoration:underline; }
	.affa-faq-link a:hover { text-decoration:underline; }
	
.affa-map {
	position:relative;
	height:500px;
}
	.affa-map .map-frame, .affa-map .map-overlay {
		position:absolute;
		top:0px;
		right:0px;
		bottom:0px;
		left:0px;
		z-index:100;
	}
	.affa-map .map-overlay {
		color:#FFF;
		text-align:center;
		background-color:rgba(255,116,105,.8);
		padding-top:200px;
		z-index:110;
	}
	.ie .affa-map .map-overlay { background:url(../images/ie-bg-map-overlay.png) repeat top left; }
		.affa-map .map-overlay h1, .affa-map .map-overlay h2, .affa-map .map-overlay h3, .affa-map .map-overlay h4, .affa-map .map-overlay h5, .affa-map .map-overlay h6, .affa-map .map-overlay a { color:#FFF; }
		.affa-map .map-overlay .map-heading h2 {
			font-size:44px;
			line-height:54px;
			font-weight:500;
			margin:0px;
		}
		.affa-map .map-overlay .map-heading p {
			font-size:22px;
			line-height:30px;
			margin:20px 0px 0px;
		}
	.affa-map .btn-collapse {
		position:absolute;
		top:0px;
		left:50%;
		width:60px;
		height:60px;
		color:#FFF;
		font-size:30px;
		line-height:52px;
		text-align:center;
		background-color:#e34724;
		margin:-30px 0px 0px -30px;
		border:4px solid #FFF;
		z-index:120;
		border-radius:50%;
	}
	.affa-map .btn-collapse.in { background-color:#DDD; }
	.affa-map .btn-collapse:hover { background-color:#f56357; }
	.affa-map .btn-collapse.in:hover { background-color:#c4c4c4; }
	
.affa-form-subscribe input[type="text"], .affa-form-subscribe input[type="email"] {
	width:100%;
	margin-bottom:15px;
}
.affa-form-subscribe input[type="submit"] {
	width:100%;
	text-align:center;
	text-transform:uppercase;
}
.affa-form-subscribe input[type="text"].error, .affa-form-subscribe input[type="email"].error {
	color:#d86c6c;
	background-color:#f6caca;
	border-color:#e9b8b8;
}
.affa-form-subscribe input[type="text"].success, .affa-form-subscribe input[type="email"].success {
	color:#529552;
	background-color:#b9edb9;
	border-color:#a5dda5;
}



/* ========================= Footer ========================= */

#bottom { text-align:center; }
	#bottom .bg-overlay { padding:140px 0px; }
	#bottom .post-heading-center { margin-bottom:60px; }
	#bottom .affa-form-subscribe {
		width:480px;
		margin:0px auto;
	}
		#bottom .affa-form-subscribe input[type="text"], #bottom .affa-form-subscribe input[type="email"] {
			height:60px;
			font-size:18px;
			padding:0px 25px;
		}
		.ie #bottom .affa-form-subscribe input[type="text"], .ie #bottom .affa-form-subscribe input[type="email"] { line-height:60px; }
		#bottom .affa-form-subscribe input[type="submit"] {
			font-size:18px;
			padding-top:20px;
			padding-bottom:20px;
		}
	#bottom .txt-desc {
		width:480px;
		padding:0px 60px;
		margin:30px auto 0px;
	}
	
#footer { padding:23px 0px; }
	#footer .copyright-txt {
		float:left;
		padding:16px 0px;
		margin:0px;
	}
		#footer .copyright-txt a {
			color:#404040;
			font-weight:400;
		}
		#footer .copyright-txt a:hover { color:#e34724; }
	#footer .socials { float:right; }
		#footer .socials a {
			float:left;
			width:42px;
			height:42px;
			color:#FFF;
			font-size:18px;
			line-height:42px;
			text-align:center;
			background-color:#DDD;
			margin:7px 0px 7px 14px;
			border-radius:50%;
		}
		#footer .socials a.link-android { background-color:#a7c839; }
		#footer .socials a.link-apple { background-color:#1abcfb; }
		#footer .socials a.link-behance { background-color:#138fcd; }
		#footer .socials a.link-delicious { background-color:#3399ff; }
		#footer .socials a.link-deviantart { background-color:#05cc47; }
		#footer .socials a.link-digg { background-color:#286091; }
		#footer .socials a.link-dribbble { background-color:#d36b93; }
		#footer .socials a.link-facebook { background-color:#3b589e; }
		#footer .socials a.link-flickr { background-color:#fe0084; }
		#footer .socials a.link-google-plus { background-color:#d6492f; }
		#footer .socials a.link-instagram { background-color:#2a5b83; }
		#footer .socials a.link-linkedin { background-color:#007ab5; }
		#footer .socials a.link-pinterest { background-color:#cb2027; }
		#footer .socials a.link-reddit { background-color:#ff5600; }
		#footer .socials a.link-rss { background-color:#fd9f13; }
		#footer .socials a.link-skype { background-color:#00aff0; }
		#footer .socials a.link-soundcloud { background-color:#ff6c00; }
		#footer .socials a.link-stumbleupon { background-color:#eb4823; }
		#footer .socials a.link-tumblr { background-color:#34465d; }
		#footer .socials a.link-twitter { background-color:#5ea9dd; }
		#footer .socials a.link-vimeo { background-color:#1ab7ea; }
		#footer .socials a.link-wordpress { background-color:#00769c; }
		#footer .socials a.link-youtube { background-color:#df192a; }
		#footer .socials a:hover { background-color:#202020; }



/* ========================= Media Queries ========================= */

@media (min-width: 1200px) {
	
	.padding-top0-lg { padding-top:0px !important; }
	.padding-right0-lg { padding-right:0px !important; }
	.padding-bottom0-lg  { padding-bottom:0px !important; }
	.padding-left0-lg { padding-left:0px !important; }
	
	.padding-top10-lg { padding-top:10px !important; }
	.padding-top20-lg { padding-top:20px !important; }
	.padding-top30-lg { padding-top:30px !important; }
	.padding-top40-lg { padding-top:40px !important; }
	.padding-top50-lg { padding-top:50px !important; }
	.padding-top60-lg { padding-top:60px !important; }
	.padding-top70-lg { padding-top:70px !important; }
	.padding-top80-lg { padding-top:80px !important; }
	
	.padding-bottom10-lg { padding-bottom:10px !important; }
	.padding-bottom20-lg { padding-bottom:20px !important; }
	.padding-bottom30-lg { padding-bottom:30px !important; }
	.padding-bottom40-lg { padding-bottom:40px !important; }
	.padding-bottom50-lg { padding-bottom:50px !important; }
	.padding-bottom60-lg { padding-bottom:60px !important; }
	.padding-bottom70-lg { padding-bottom:70px !important; }
	.padding-bottom80-lg { padding-bottom:80px !important; }
	
	.margin-top0-lg { margin-top:0px !important;	}
	.margin-right0-lg { margin-right:0px !important;	}
	.margin-bottom0-lg  { margin-bottom:0px !important; }
	.margin-left0-lg { margin-left:0px !important; }
	
	.margin-top10-lg { margin-top:10px !important; }
	.margin-top20-lg { margin-top:20px !important; }
	.margin-top30-lg { margin-top:30px !important; }
	.margin-top40-lg { margin-top:40px !important; }
	.margin-top50-lg { margin-top:50px !important; }
	.margin-top60-lg { margin-top:60px !important; }
	.margin-top70-lg { margin-top:70px !important; }
	.margin-top80-lg { margin-top:80px !important; }
	
	.margin-bottom10-lg { margin-bottom:10px !important; }
	.margin-bottom20-lg { margin-bottom:20px !important; }
	.margin-bottom30-lg { margin-bottom:30px !important; }
	.margin-bottom40-lg { margin-bottom:40px !important; }
	.margin-bottom50-lg { margin-bottom:50px !important; }
	.margin-bottom60-lg { margin-bottom:60px !important; }
	.margin-bottom70-lg { margin-bottom:70px !important; }
	.margin-bottom80-lg { margin-bottom:80px !important; }
	
	.text-center-lg { text-align:center; }
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.padding-top0-md { padding-top:0px !important; }
	.padding-right0-md { padding-right:0px !important; }
	.padding-bottom0-md  { padding-bottom:0px !important; }
	.padding-left0-md { padding-left:0px !important; }
	
	.padding-top10-md { padding-top:10px !important; }
	.padding-top20-md { padding-top:20px !important; }
	.padding-top30-md { padding-top:30px !important; }
	.padding-top40-md { padding-top:40px !important; }
	.padding-top50-md { padding-top:50px !important; }
	.padding-top60-md { padding-top:60px !important; }
	.padding-top70-md { padding-top:70px !important; }
	.padding-top80-md { padding-top:80px !important; }
	
	.padding-bottom10-md { padding-bottom:10px !important; }
	.padding-bottom20-md { padding-bottom:20px !important; }
	.padding-bottom30-md { padding-bottom:30px !important; }
	.padding-bottom40-md { padding-bottom:40px !important; }
	.padding-bottom50-md { padding-bottom:50px !important; }
	.padding-bottom60-md { padding-bottom:60px !important; }
	.padding-bottom70-md { padding-bottom:70px !important; }
	.padding-bottom80-md { padding-bottom:80px !important; }
	
	.margin-top0-md { margin-top:0px !important;	}
	.margin-right0-md { margin-right:0px !important;	}
	.margin-bottom0-md  { margin-bottom:0px !important; }
	.margin-left0-md { margin-left:0px !important; }
	
	.margin-top10-md { margin-top:10px !important; }
	.margin-top20-md { margin-top:20px !important; }
	.margin-top30-md { margin-top:30px !important; }
	.margin-top40-md { margin-top:40px !important; }
	.margin-top50-md { margin-top:50px !important; }
	.margin-top60-md { margin-top:60px !important; }
	.margin-top70-md { margin-top:70px !important; }
	.margin-top80-md { margin-top:80px !important; }
	
	.margin-bottom10-md { margin-bottom:10px !important; }
	.margin-bottom20-md { margin-bottom:20px !important; }
	.margin-bottom30-md { margin-bottom:30px !important; }
	.margin-bottom40-md { margin-bottom:40px !important; }
	.margin-bottom50-md { margin-bottom:50px !important; }
	.margin-bottom60-md { margin-bottom:60px !important; }
	.margin-bottom70-md { margin-bottom:70px !important; }
	.margin-bottom80-md { margin-bottom:80px !important; }
	
	.text-center-md { text-align:center; }
	
	.col-txt40 { padding-top:0px; }
	.col-txt60, .col-txt80 { padding-top:20px; }
	.col-txt100, .col-txt120 { padding-top:40px; }
	
	.post-heading-center h2 {
		font-size:32px;
		line-height:40px;
	}
	.post-heading-center p {
		font-size:18px;
		line-height:24px;
	}
	
	.post-heading-left h2 {
		font-size:26px;
		line-height:34px;
	}
	.post-heading-left p {
		font-size:16px;
		line-height:22px;
	}
	
	#header .nav > li {
		padding-right:18px;
		padding-left:18px;
	}
	
	#navigation_affix .nav > li {
		padding-right:10px;
		padding-left:10px;
	}
	
	#header .header-content { padding:40px 0px 80px; }
	#header .header-content .header-heading-title { margin-bottom:50px; }
	#header .header-content .header-form .header-form-heading, #header .header-content .header-form .header-form-body { padding:25px; }
	#header .header-content .header-form .header-form-body .txt-desc { margin-top:15px; }
	#header .header-content .header-txt-list { padding-top:15px; }
	
	#sub-header .entry-title {
		font-size:34px;
		line-height:42px;
	}
	
	.affa-testimonial { padding:0px 100px; }
	
	.affa-map .map-overlay { padding-top:204px; }
	.affa-map .map-overlay .map-heading h2 {
		font-size:38px;
		line-height:48px;
	}
	.affa-map .map-overlay .map-heading p {
		font-size:20px;
		line-height:28px;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.padding-top0-sm { padding-top:0px !important; }
	.padding-right0-sm { padding-right:0px !important; }
	.padding-bottom0-sm  { padding-bottom:0px !important; }
	.padding-left0-sm { padding-left:0px !important; }
	
	.padding-top10-sm { padding-top:10px !important; }
	.padding-top20-sm { padding-top:20px !important; }
	.padding-top30-sm { padding-top:30px !important; }
	.padding-top40-sm { padding-top:40px !important; }
	.padding-top50-sm { padding-top:50px !important; }
	.padding-top60-sm { padding-top:60px !important; }
	.padding-top70-sm { padding-top:70px !important; }
	.padding-top80-sm { padding-top:80px !important; }
	
	.padding-bottom10-sm { padding-bottom:10px !important; }
	.padding-bottom20-sm { padding-bottom:20px !important; }
	.padding-bottom30-sm { padding-bottom:30px !important; }
	.padding-bottom40-sm { padding-bottom:40px !important; }
	.padding-bottom50-sm { padding-bottom:50px !important; }
	.padding-bottom60-sm { padding-bottom:60px !important; }
	.padding-bottom70-sm { padding-bottom:70px !important; }
	.padding-bottom80-sm { padding-bottom:80px !important; }
	
	.margin-top0-sm { margin-top:0px !important;	}
	.margin-right0-sm { margin-right:0px !important;	}
	.margin-bottom0-sm  { margin-bottom:0px !important; }
	.margin-left0-sm { margin-left:0px !important; }
	
	.margin-top10-sm { margin-top:10px !important; }
	.margin-top20-sm { margin-top:20px !important; }
	.margin-top30-sm { margin-top:30px !important; }
	.margin-top40-sm { margin-top:40px !important; }
	.margin-top50-sm { margin-top:50px !important; }
	.margin-top60-sm { margin-top:60px !important; }
	.margin-top70-sm { margin-top:70px !important; }
	.margin-top80-sm { margin-top:80px !important; }
	
	.margin-bottom10-sm { margin-bottom:10px !important; }
	.margin-bottom20-sm { margin-bottom:20px !important; }
	.margin-bottom30-sm { margin-bottom:30px !important; }
	.margin-bottom40-sm { margin-bottom:40px !important; }
	.margin-bottom50-sm { margin-bottom:50px !important; }
	.margin-bottom60-sm { margin-bottom:60px !important; }
	.margin-bottom70-sm { margin-bottom:70px !important; }
	.margin-bottom80-sm { margin-bottom:80px !important; }
	
	.text-center-sm { text-align:center; }
	
	.col-txt40, .col-txt60, .col-txt80, .col-txt100, .col-txt120 { padding-top:0px; }
	
	.post-heading-center h2 {
		font-size:28px;
		line-height:36px;
	}
	.post-heading-center p {
		font-size:16px;
		line-height:22px;
	}
	
	.post-heading-left h2 {
		font-size:22px;
		line-height:30px;
	}
	.post-heading-left p {
		font-size:15px;
		line-height:22px;
	}
	
	#header .nav > li {
		padding-right:8px;
		padding-left:8px;
	}
	
	#navigation_affix .nav > li {
		padding-right:5px;
		padding-left:5px;
	}
	
	#header .header-content { padding:20px 0px 60px; }
	#header .header-content .header-heading-title { margin-bottom:40px; }
	#header .header-content .header-form .header-form-heading, #header .header-content .header-form .header-form-body { padding:20px; }
	#header .header-content .header-form .header-form-body .txt-desc { margin-top:15px; }
	#header .header-content .header-txt-list { padding-top:0px; }
	#header .header-content .header-txt-list li {
		min-height:54px;
		padding-bottom:20px;
	}
	#header .header-content .header-txt-list li .fa { line-height:54px; }
	#header .header-content .header-txt-list li h4 {
		font-size:20px;
		line-height:28px;
	}
	#header .header-content .header-txt-list li p { margin-top:2px; }
	
	#sub-header .entry-title {
		font-size:30px;
		line-height:38px;
	}
	#sub-header p {
		font-size:16px;
		line-height:24px;
		margin-bottom:2px;
	}
	
	.affa-testimonial { padding:0px; }
	
	.affa-map .map-overlay { padding-top:208px; }
	.affa-map .map-overlay .map-heading h2 {
		font-size:32px;
		line-height:40px;
	}
	.affa-map .map-overlay .map-heading p {
		font-size:18px;
		line-height:26px;
	}
	
}

@media (max-width: 767px) {
	
	.padding-top0-xs { padding-top:0px !important; }
	.padding-right0-xs { padding-right:0px !important; }
	.padding-bottom0-xs  { padding-bottom:0px !important; }
	.padding-left0-xs { padding-left:0px !important; }
	
	.padding-top10-xs { padding-top:10px !important; }
	.padding-top20-xs { padding-top:20px !important; }
	.padding-top30-xs { padding-top:30px !important; }
	.padding-top40-xs { padding-top:40px !important; }
	.padding-top50-xs { padding-top:50px !important; }
	.padding-top60-xs { padding-top:60px !important; }
	.padding-top70-xs { padding-top:70px !important; }
	.padding-top80-xs { padding-top:80px !important; }
	
	.padding-bottom10-xs { padding-bottom:10px !important; }
	.padding-bottom20-xs { padding-bottom:20px !important; }
	.padding-bottom30-xs { padding-bottom:30px !important; }
	.padding-bottom40-xs { padding-bottom:40px !important; }
	.padding-bottom50-xs { padding-bottom:50px !important; }
	.padding-bottom60-xs { padding-bottom:60px !important; }
	.padding-bottom70-xs { padding-bottom:70px !important; }
	.padding-bottom80-xs { padding-bottom:80px !important; }
	
	.margin-top0-xs { margin-top:0px !important;	}
	.margin-right0-xs { margin-right:0px !important;	}
	.margin-bottom0-xs  { margin-bottom:0px !important; }
	.margin-left0-xs { margin-left:0px !important; }
	
	.margin-top10-xs { margin-top:10px !important; }
	.margin-top20-xs { margin-top:20px !important; }
	.margin-top30-xs { margin-top:30px !important; }
	.margin-top40-xs { margin-top:40px !important; }
	.margin-top50-xs { margin-top:50px !important; }
	.margin-top60-xs { margin-top:60px !important; }
	.margin-top70-xs { margin-top:70px !important; }
	.margin-top80-xs { margin-top:80px !important; }
	
	.margin-bottom10-xs { margin-bottom:10px !important; }
	.margin-bottom20-xs { margin-bottom:20px !important; }
	.margin-bottom30-xs { margin-bottom:30px !important; }
	.margin-bottom40-xs { margin-bottom:40px !important; }
	.margin-bottom50-xs { margin-bottom:50px !important; }
	.margin-bottom60-xs { margin-bottom:60px !important; }
	.margin-bottom70-xs { margin-bottom:70px !important; }
	.margin-bottom80-xs { margin-bottom:80px !important; }
	
	.text-center-xs { text-align:center; }
	
	.col-txt40, .col-txt60, .col-txt80, .col-txt100, .col-txt120 { padding-top:0px; }
	
	.post-heading-center h2 {
		font-size:32px;
		line-height:40px;
	}
	.post-heading-center p {
		font-size:18px;
		line-height:24px;
	}
	
	.post-heading-left h2 {
		font-size:26px;
		line-height:34px;
	}
	.post-heading-left p {
		font-size:16px;
		line-height:22px;
	}
	
	#header .nav, #navigation_affix { display:none !important; }
	#navigation_mobile { display:block; }
	
	#header .navbar-brand {
		float:none;
		text-align:center;
	}
	#header .navbar-brand img {
		display:inline;
		height:auto;
		max-height:40px;
	}
	
	#header .header-content { padding:0px 0px 20px; }
	#header .header-content .header-heading-title { margin-bottom:40px; }
	#header .header-content .header-heading-title h1 {
		font-size:30px;
		line-height:38px;
	}
	#header .header-content .header-heading-title h4 {
		font-size:20px;
		line-height:28px;
	}
	#header .header-content .header-form {
		width:480px;
		margin:0px auto 40px;
	}
	#header .header-content .header-form .header-form-body .txt-desc { padding:0px 40px; }
	#header .header-content .header-txt-list {
		padding-top:0px;
		margin-bottom:40px;
	}
	#header .header-content .header-txt-list li {
		position:static;
		min-height:0px;
		text-align:center;
		padding:0px 0px 30px;
	}
	#header .header-content .header-txt-list li .fa {
		position:static;
		top:auto;
		left:auto;
		font-size:42px;
		line-height:1;
		margin-bottom:15px;
	}
	
	#sub-header {
		color:#a9a9a9;
		background-color:#f6f8f9;
		padding:30px 0px;
		border-bottom:1px solid #eaedef;
	}
	#sub-header .entry-title {
		color:#202020;
		font-size:30px;
		line-height:38px;
	}
	#sub-header p {
		font-size:16px;
		line-height:24px;
		margin-bottom:2px;
	}
	
	.affa-feature-icon-left, .affa-feature-icon-right {
		min-height:48px;
		padding-left:75px;
	}
	.affa-feature-icon-right { padding:0px 75px 0px 0px; }
	.affa-feature-icon-left .fa, .affa-feature-icon-right .fa {
		width:54px;
		font-size:48px;
	}
	
	.affa-testimonial { padding:0px; }
	
	.affa-tbl-prc.tbl-prc-recommended { padding-top:0px; }
	.affa-tbl-prc.tbl-prc-recommended .tbl-prc-col.tbl-prc-col-recommended { margin-top:0px; }
	
	.affa-map .map-overlay { padding-top:180px; }
	.affa-map .map-overlay .map-heading h2 {
		font-size:30px;
		line-height:38px;
	}
	.affa-map .map-overlay .map-heading p {
		font-size:18px;
		line-height:26px;
	}
	
	#footer {
		text-align:center;
		padding:25px 0px;
	}
	#footer .copyright-txt, #footer .socials { float:none; }
	#footer .copyright-txt { padding:0px; }
	#footer .socials { margin-top:10px; }
	#footer .socials a {
		display:inline-block;
		float:none;
		margin:10px 5px 0px;
	}
	
}

@media (max-width: 530px) {
	
	#header .header-content .header-form { width:auto; }
	#header .header-content .header-form .header-form-body .txt-desc { padding:0px 25px; }
	
	#bottom .affa-form-subscribe, #bottom .txt-desc { width:auto; }
	#bottom .txt-desc { padding:0px; }
	
}

@media (max-width: 480px) {
	
	#navigation_mobile ul {
		padding-left:15px;
		padding-right:15px;
	}
	
	#header .header-content .header-form .header-form-heading, #header .header-content .header-form .header-form-body { padding:25px; }
	#header .header-content .header-form .header-form-body .txt-desc { padding:0px; }
	#header .header-content .header-txt-list li h4 {
		font-size:22px;
		line-height:30px;
	}
	
	.affa-feature-icon-left, .affa-feature-icon-right {
		position:static;
		min-height:0px;
		text-align:center;
		padding:0px;
		margin-bottom:40px;
	}
	.affa-feature-icon-left .fa, .affa-feature-icon-right .fa {
		position:static;
		top:auto;
		left:auto;
		width:auto;
	}
	.affa-feature-icon-right .fa { right:auto; }
	.affa-feature-icon-left h4, .affa-feature-icon-right h4 {
		font-size:22px;
		line-height:30px;
		margin-top:20px;
	}
	.affa-feature-icon-left p, .affa-feature-icon-right p { margin-top:10px; }
	
}

@media (max-width: 400px) {
	
	#header .header-content .header-form .header-form-heading, #header .header-content .header-form .header-form-body { padding:20px; }
	#header .header-content .header-form .header-form-body .txt-desc { margin-top:15px; }
	
}