/* overide the main css */
.x-navigation > li.xn-logo > a:first-child {
    
    background: url("../images/logo-01.png") top center no-repeat #c84021;
  
}
.x-navigation > li.xn-logo > a:first-child:hover
{
	  background: url("../images/logo.png") top center no-repeat #e83a13;
}

/* minimized class */
.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
   
    background-image: url("../images/logo-03.png");
}

.selected
{
	background-color: orange;
    color: #FFF;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
