/* Variables */
/* Colors */
/* Sizes */
/* line 1, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.addui-slider {
  display: block;
  box-sizing: border-box; }
  /* line 5, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
  .addui-slider * {
    box-sizing: border-box; }
  /* line 7, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
  .addui-slider:not(.addui-slider-isrange) {
    cursor: pointer; }
  /* line 11, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
  .addui-slider .addui-slider-track {
    display: block;
    position: relative;
    background: #FF8300;
    border-radius: 2px; }
    /* line 17, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
    .addui-slider .addui-slider-track .addui-slider-range {
      display: block;
      background: #3f51b5;
      border-radius: 2px;
      position: absolute; }
    /* line 24, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
    .addui-slider .addui-slider-track .addui-slider-handle {
      display: block;
      width: 25px;
      height: 25px;
      background: #FF8300;
      box-shadow: 0 0 5px #FF8300;
      position: absolute;
      border-radius: 25px;
      cursor: pointer;
      transition: background 1s, box-shadow 1s;
      z-index: 0; }
      /* line 36, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value {
        display: block;
        float: right;
        background: #FF8300;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-top: 0px;
        color: white;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s, background 1s, transform 1s, margin 1s, border-radius 1s;
        transform: scale(1, 0) rotate(-135deg);
        transform-style: preserve-3d;
        position: absolute;
        z-index: 1; }
        /* line 53, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle .addui-slider-value span {
          display: block;
          transform: rotate(135deg);
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 25px;
          position: absolute;
          z-index: 1; }
      /* line 65, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle:hover {
        box-shadow: 0 0 3px #FF8300; }
        /* line 68, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle:hover .addui-slider-value {
          background: #FF8300;
          opacity: 1;
          transform: scale(1, 1) rotate(-135deg);
          margin-top: -30px;
          border-radius: 0 50% 50% 50%; }
      /* line 77, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active {
        background: #FF8300;
        box-shadow: 0 0 3px #FF8300 }
        /* line 81, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
        .addui-slider .addui-slider-track .addui-slider-handle.addui-slider-handle-active .addui-slider-value {
          background: #FF8300;
          opacity: 1;
          transform: scale(1, 1) rotate(-135deg);
          margin-top: -30px;
          border-radius: 0 50% 50% 50%; }
      /* line 90, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider .addui-slider-track .addui-slider-handle:after {
        display: block;
        content: " ";
        width: 13px;
        height: 13px;
        background: #FF8300;
        border-radius: 13px;
        position: relative;
        top: 7px;
        left: 7px; }
  /* line 105, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
  .addui-slider.addui-slider-vertical {
    height: calc(100% - 50px);
    width: 50px;
    margin: 13px 8px; }
    /* line 110, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
    .addui-slider.addui-slider-vertical .addui-slider-track {
      height: 100%;
      width: 4px;
      top: 0;
      left: 11px; }
      /* line 116, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-range {
        width: 2px;
        height: auto; }
      /* line 121, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-handle {
        left: -12px;
        top: auto;
        transform: translateY(50%); }
        /* line 126, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
        .addui-slider.addui-slider-vertical .addui-slider-track .addui-slider-handle.addui-slider-handle-l {
          z-index: 2; }
  /* line 133, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
  .addui-slider.addui-slider-horizontal {
    height: 25px;
    width: calc(100% - 25px);
    margin: 8px 13px; }
    /* line 138, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
    .addui-slider.addui-slider-horizontal .addui-slider-track {
      height: 2px;
      width: 100%;
      top: 11px;
      left: 0; }
      /* line 144, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider.addui-slider-horizontal .addui-slider-track .addui-slider-range {
        width: auto;
        height: 2px; }
      /* line 149, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
      .addui-slider.addui-slider-horizontal .addui-slider-track .addui-slider-handle {
        left: auto;
        top: -12px;
        transform: translateX(-50%); }

/*# sourceMappingURL=addSlider.css.map */